In [1]:
#1
A = [12,13,14,14,15,16]
A

[12, 13, 14, 14, 15, 16]

In [2]:
stRecord =["Raman","A-36",[56,98,99,72,69],78.8]

In [3]:
# a percentage of student
stRecord[3]

78.8

In [4]:
# b marks in the fifth subject
stRecord[2][4]

69

In [5]:
#c max marks
import pandas as pd
max(stRecord[2])

99

In [6]:
#d roll number of the student
stRecord[1]

'A-36'

In [7]:
#e change the name
stRecord[0]="Ajith"
stRecord[0]

'Ajith'

In [8]:
a = [0,1,2,3,4,1,2,3,5]
print(list(set(a)))

[0, 1, 2, 3, 4, 5]

In [9]:
pd.Series(a).drop_duplicates().to_list()

[0, 1, 2, 3, 4, 5]